﻿@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://img.freepik.com/free-vector/computer-repair-illustration_1284-64457.jpg?t=st=1718020920~exp=1718024520~hmac=468c1d4386932f280a7eab26e15fe5ba3b9e179bedef2d12f2c96a391bb0e77e&w=1060" alt="Alternative image" class="img-thumbnail">
                <div class="text-center h4">
                    <p>@ViewBag.Title</p>
                    <p>An error occurred while processing your request.</p>
                </div>
                <div class="text-center h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>